:root{
--color-prrimary-dark:#31261a;
--color-prrimary-light:#faf4ea;
--color-brand-dark:#465929;
--color-brand-light:#819b57;
}

/*Base*/
*{
    box-sizing: border-box;
}

body{
    color: var(--color-prrimary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1,5;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

address{
font-style: normal;
}

ul {
    list-style-type: none;
}
.visually-hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.section{
padding: 48px 0;
}

.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/*Button*/
.button{
    padding: 16px 32px;
    color: var(--color-prrimary-light);
    font-weight: 600;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor:pointer;
}

.button:hover{
    color: var(--color-brand-dark);
    background-color:transparent;
}
/*link*/
.link {
color: var(--color-prrimary-light);
text-decoration: none;
}

.link:hover{
color: var(--color-brand-light);
font-weight: 600;
}


/*Hero section*/
.hero-section{
    padding: 272px 0;
}

.hero-title{
    margin-bottom: 0;
    color: var(--color-prrimary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent{
    color: var(--color-brand-light); 
}

/*Advantages section*/
.advantages-list{
    color: var(--color-prrimary-light);
    background-color: var(--color-brand-light);
}

.advantages-item{
    font-size: 20px;
    font-weight: 300;
}

.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1,3;
}

.section-title .accent{
    color: var(--color-brand-dark);
}

/*Tradition section*/
.traditions-section{
    padding-top: 96px;
}
.traditions-title{
    margin-bottom: 42px;
}

.tradition-text .brand{
    color: var(--color-brand-light);
    font-weight: 600;
    
}

.tradition-text .uppercase{
    text-transform: uppercase;
}

/*Chefs section*/
 .chef-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
 }

 .chefs-title{
    margin-bottom: 80px;
 }

 /*Formats title*/
 .format-title{
    font-size: 24px;
    font-weight: 600;
 }
 .formats-title{
    margin-bottom: 80px;
 }

 .format-text{
    font-size: 14px;
    font-weight: 300;
 }

 /*Contact section*/
 .contact-title{
    margin-bottom:16px;
 }

 /*Footer*/
 
 .address-link {
     color: var(--color-prrimary-light);
     font-size: 16px;
     font-weight: 300;
     text-decoration: none;
 }

 .address-link:hover {
     color: var(--color-brand-light);
 }

 .address-copyright{
    font-size: 14px;
 }